

.footerAndHeadercolour {
	background-color: #8497A6;
	color: #FFFFFF;
	height: 16px;
	
}
.outliner {
	background-color: #000000;
}

.leftTable{
	background-color: #eeeeee;
}

h3.error {
	font-size: large;
	font-weight: bold;
	color: #FF0000;
	width: auto;
	border: thin solid #000000;
}

h3.debug {
	font-size: large;
	font-weight: bold;
	color: #47AF08;
	width: auto;
	border: thin solid #000000;
}



td.helpHed{ 
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	background-color: #BEC8D1;
	text-align: center;

	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: #404040; 
}

td.helpHedMain{ 
	border-bottom: 1px solid #000000;
	border-left: 1px solid #6699CC;
	background-color: #8497A6;
	text-align: left;
	text-indent: 10px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff; 
}

td.helpBod{ 
	border-bottom: 1px solid #BFBFBF;
	border-top: 0px;
	border-left: 1px solid #BFBFBF;
	border-right: 0px;
	text-align: center;
	
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa; 
}

td.helpHedButton{ 
	border-bottom: 1px solid #BFBFBF;;
	border-top: 0px;
	border-right: 0px;
	text-align: left;
	text-indent: 10px;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa; 
	
}

td.siteTitle{
	
	border-bottom: 1px solid #BFBFBF;;
	border-top: 0px;
	border-right: 0px;
	text-indent: 10px;
	font-family: Verdana, sans-serif, Arial;
	font-weight: bold;
	font-size: 15px;
	color: #396182;;
		
	
}

td.menuTitle{
	
	text-align: left;
	text-indent: 5px;
	font-family: Verdana;
	font-size: 13px;
	
	
}


table.sofT{ 
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px; 
} 

.subNavBlock{
	border-style: solid; 
	border-top: 0px; 
	border-color: #999999; 
	border-width: 1px; 
	background-color: #f0f0f0;
}

.mainNavBlock{
	border-style: solid; 
	border-color: #000000; 
	border-width: 1px; 
	background-color: #ffffff;
}



body {
	font-family: Verdana; 
	font-size: 11px; 
	font-weight: normal; 
	color: #000000
}

td {
	font-family: Verdana; 
	font-size: 11px; 
	font-weight: normal; 
	color: #000000
}

th { 
	font-family: Verdana; 
	font-size:11px; 
	text-align:center; 
	color: #000000; 
}

input {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal; 
	
}

input.dis {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal; 
	background-color: red; 
}


select {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000
}

textarea {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000
}
